e2e_tests/integ-test-id
e2e_tests/python/servers_config.json
e2e_tests/typescript/servers_config.json

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json
*.swp

# Node
*.js
!jest.config.js
*.d.ts
node_modules
coverage/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
#lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.coverage
htmlcov

# Virtual Environment
venv/
env/
ENV/
.env
.venv

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
*.db
*.sqlite3
*.log
demo/.turbo/cache/6c3b71b3181f2b57-meta.json
demo/.turbo/cache/6c3b71b3181f2b57.tar.zst
demo/.turbo/cache/63bb135a2545ed22-meta.json
demo/.turbo/cache/63bb135a2545ed22.tar.zst
demo/.turbo/cache/92e44bdfdd151ed7-meta.json
demo/.turbo/cache/92e44bdfdd151ed7.tar.zst
demo/.turbo/cache/4489234f218175eb-meta.json
demo/.turbo/cache/4489234f218175eb.tar.zst
demo/.turbo/cache/5301876ef841f84f-meta.json
demo/.turbo/cache/5301876ef841f84f.tar.zst
demo/.turbo/cache/d91462021266b2a5-meta.json
demo/.turbo/cache/d91462021266b2a5.tar.zst
demo/.turbo/cookies/81.cookie
demo/.turbo/cookies/82.cookie
demo/.turbo/cookies/83.cookie
demo/.turbo/cookies/84.cookie
demo/.turbo/cookies/85.cookie
demo/.turbo/cookies/86.cookie
demo/.turbo/cookies/87.cookie
demo/.turbo/cookies/88.cookie
demo/.turbo/cookies/89.cookie
demo/.turbo/cookies/90.cookie
demo/.turbo/cookies/91.cookie
demo/.turbo/cookies/92.cookie
demo/.turbo/cookies/93.cookie
demo/.turbo/cookies/94.cookie
demo/.turbo/cookies/95.cookie
demo/.turbo/cookies/96.cookie
demo/.turbo/cookies/97.cookie
demo/.turbo/cookies/98.cookie
demo/.turbo/cookies/99.cookie
demo/.turbo/cookies/100.cookie
demo/.turbo/cookies/101.cookie
demo/.turbo/cookies/102.cookie
demo/.turbo/cookies/103.cookie
demo/.turbo/cookies/104.cookie
demo/.turbo/cookies/105.cookie
demo/.turbo/cookies/106.cookie
demo/.turbo/cookies/107.cookie
demo/.turbo/cookies/108.cookie
demo/.turbo/cookies/109.cookie
demo/.turbo/cookies/110.cookie
demo/.turbo/cookies/111.cookie
demo/.turbo/cookies/112.cookie
demo/.turbo/cookies/113.cookie
demo/.turbo/cookies/114.cookie
demo/.turbo/cookies/115.cookie
demo/.turbo/cookies/116.cookie
demo/.turbo/cookies/117.cookie
demo/.turbo/cookies/118.cookie
demo/.turbo/cookies/119.cookie
demo/.turbo/cookies/120.cookie
demo/.turbo/cookies/121.cookie
demo/.turbo/cookies/122.cookie
