aiobotocore[boto3]==2.21.1
mcp==1.6.0
uvicorn==0.34.2

# For testing, this module is installed from local files.
# Uncomment this line to build using the module from PyPi
# run-mcp-servers-with-aws-lambda >= 0.0.1
